
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        Nome do cliente não cadastrado ou produto não cadastrado
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
